network_watcher = {
    key = {
        name = "string"
        resource_group_name = "resource_group_name"
        location = "location"
        tags = {
            key = "value"
        }
        use_existing = true
    }
}